.advisor-container {
  margin-top: -20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

.advisor-description {
  font-family: 'degular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2;
}

.advisor-image {
  width: 310px;
  margin-top: -50px;
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  .advisor-description {
    position: relative;
    z-index: 99;
    word-wrap: break-word;
    padding-left: 20px;
    text-align: left;
    font-size: 1.1rem;
    width: 400px;
  }

  .advisor-image {
    width: 160px;
    margin-top: 60px;
    margin-left: -160px;
    transform: rotate(20deg);
  }
}
