.advisor-image {
  width: 300px;
  margin-top: -50px;
  margin-left: 20px;
}

.advisor-container {
  margin-top: -20px;
  padding-right: 130px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
}

.advisor-description {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .testimonial-container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .quoted-text {
    font-size: 50px;
  }

  .quoteImg {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .quote-wrapper {
    padding-bottom: 65px;
  }

  .testimonial-container {
    max-width: 100%;
    flex-basis: auto;
  }
}
