span {
  background-color: transparent;
}

.clients-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
}

.client-line-image {
  background-color: transparent;
  margin-left: 250px;
  padding-bottom: 150px;
  width: 230px;
}

.client-list-container {
  background-color: transparent;
  padding-top: 120px;
  padding-left: 50px;
  text-align: center;
}

.client-list {
  background-color: transparent;
  line-height: 0.8;
}

.client-list h1 {
  font-weight: 100;
}

.clients-container h3 {
  font-family: 'degular', sans-serif;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.previous-clients {
  font-family: 'degular', sans-serif;
  font-size: 45px;
  font-weight: 100;
}

.previous-clients:hover {
  cursor: pointer;
}

.hidden-client-image {
  display: none;
  width: 30%;
}

#obama:hover + img,
#hillary-span:hover + img,
#a-two-four:hover + img,
#vogue:hover + img {
  display: flex;
  position: fixed;
  top: 30%;
  left: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#a-two-four:hover + img {
  width: 25%;
  display: flex;
  position: fixed;
  top: 25%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mariah:hover + img {
  display: flex;
  position: fixed;
  width: 25%;
  top: 22%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#netflix:hover + img {
  display: none;
  position: fixed;
  width: 40%;
  top: 30%;
  left: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#vogue:hover + img {
  display: none;
  position: fixed;
  width: 25%;
  top: 23%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uber:hover + img {
  display: none;
  position: fixed;
  top: 30%;
  left: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#and-more {
  font-family: 'degular-medium', sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 15px;
  font-style: italic;
}

@media screen and (width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .client-line-image {
    background-color: transparent;
    margin-left: 180px;
  }

  .client-list-container {
    padding-left: 0;
  }

  .previous-clients:hover {
    color: #000;
    cursor: pointer;
  }

  #obama:hover + img,
  #hillary-span:hover + img,
  #white-house:hover + img,
  #a-two-four:hover + img,
  #mariah:hover + img,
  #netflix:hover + img,
  #vogue:hover + img,
  #uber:hover + img {
    display: none;
    color: black;
  }
}

@media screen and (max-width: 414px) {
  .clients-container {
    margin-bottom: -40px;
  }

  .client-list {
    width: 200px;
  }

  #hillary {
    line-height: 20px;
  }

  .client-line-image {
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 0px;
    padding-bottom: 420px;
    width: 110px;
  }

  .client-list-container {
    margin-top: -100px;
    padding-top: 0;
    padding-right: 50px;
    padding-left: 0;
    text-align: center;
    line-height: 1.2;
  }

  .clients-container h3 {
    font-size: 1rem;
    background-color: transparent;
  }

  .previous-clients {
    font-size: 1.6rem;
    line-height: 0.8;
  }

  #obama:hover + img,
  #hillary-span:hover + img,
  #white-house:hover + img,
  #a-two-four:hover + img,
  #mariah:hover + img,
  #netflix:hover + img,
  #vogue:hover + img,
  #uber:hover + img {
    display: none;
    color: black;
  }

  .previous-clients:hover {
    color: #000;
    cursor: pointer;
  }
}
