span {
  background-color: transparent;
}

.clients-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
}

.client-line-image {
  padding-left: 45px;
  padding-bottom: 150px;
  width: 300px;
}

.client-list-container {
  padding-top: 120px;
  padding-left: 50px;
  text-align: center;
}

.client-list h1 {
  font-weight: 100;
}

.clients-container h3 {
  font-family: 'degular', sans-serif;
  padding-bottom: 15px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.previous-clients {
  font-family: 'degular', sans-serif;
  font-size: 45px;
  font-weight: 100;
  line-height: 0.6;
}

.previous-clients:hover {
  cursor: pointer;
}

.hidden-client-image {
  display: none;
  width: 30%;
}

#obama:hover + img,
#hillary:hover + img,
#a-two-four:hover + img,
#vogue:hover + img {
  display: flex;
  position: fixed;
  top: 30%;
  left: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#a-two-four:hover + img {
  width: 25%;
  display: flex;
  position: fixed;
  top: 25%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mariah:hover + img {
  display: flex;
  position: fixed;
  width: 25%;
  top: 22%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#netflix:hover + img {
  display: none;
  position: fixed;
  width: 40%;
  top: 30%;
  left: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#vogue:hover + img {
  display: none;
  position: fixed;
  width: 25%;
  top: 23%;
  left: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#uber:hover + img {
  display: none;
  position: fixed;
  top: 30%;
  left: 15%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .previous-clients:hover {
    color: #000;
    cursor: pointer;
  }

  #obama:hover + img,
  #hillary:hover + img,
  #white-house:hover + img,
  #a-two-four:hover + img,
  #mariah:hover + img,
  #netflix:hover + img,
  #vogue:hover + img,
  #uber:hover + img {
    display: none;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .clients-container {
    margin-bottom: -40px;
  }

  .client-line-image {
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-bottom: 420px;
    width: 160px;
  }

  .client-list-container {
    padding-top: 0;
    padding-right: 50px;
    padding-left: 0;
    text-align: center;
  }

  .clients-container h3 {
    font-size: 1rem;
  }

  .previous-clients {
    font-size: 1.5rem;
    line-height: 0.6;
  }

  #obama:hover + img,
  #hillary:hover + img,
  #white-house:hover + img,
  #a-two-four:hover + img,
  #mariah:hover + img,
  #netflix:hover + img,
  #vogue:hover + img,
  #uber:hover + img {
    display: none;
    color: black;
  }

  .previous-clients:hover {
    color: #000;
    cursor: pointer;
  }
}
