.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-right: 45px;
}

.contact-image-container {
  margin-top: 10px;
  margin-left: 780px;
  margin-bottom: -30px;
}

.contact-image {
  position: relative;
  z-index: 99;
  height: 80px;
}

.get-in-touch-container {
  margin-left: 615px;
}

.get-in-touch-container img {
  background-color: transparent;
  width: 350px;
}

.get-in-touch-container .contact-top-image {
  display: none;
  position: absolute;
  z-index: 99;
}

.get-in-touch-container:hover .contact-top-image {
  display: inline;
  position: absolute;
  left: 615px;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .contact-container {
    margin-left: 80px;
  }

  .contact-image-container {
    margin-left: 295px;
  }

  .contact-image {
    margin-left: 480px;
  }

  .get-in-touch-container {
    margin-right: -10px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-container {
    margin-left: 80px;
  }

  .contact-image-container {
    margin-left: 123px;
  }

  .contact-image {
    margin-left: 480px;
  }

  .get-in-touch-container {
    margin-left: 440px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin-right: 70px;
  }
}

@media screen and (max-width: 550px) {
  .client-list-container {
    padding-right: 0px;
    margin-left: -60px;
  }

  .contact-image {
    margin-top: -15px;
    margin-left: 160px;
    height: 120px;
    width: 20px;
  }

  .contact-container {
    margin-top: -230px;
    margin-left: 100px;
  }

  .get-in-touch-container {
    background-color: transparent;
    margin-left: 30px;
  }

  .get-in-touch-container img {
    width: 280px;
  }

  .get-in-touch-container:hover .contact-top-image {
    display: none;
  }
}
