.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-right: 45px;
}

.contact-image-container {
  margin-top: 10px;
  margin-left: 880px;
  margin-bottom: -30px;
}

.contact-image {
  position: relative;
  z-index: 99;
  height: 80px;
}

.get-in-touch-container {
  margin-left: 710px;
}

.get-in-touch-container img {
  background-color: transparent;
  width: 350px;
}

.get-in-touch-container .contact-top-image {
  display: none;
  position: absolute;
  z-index: 99;
}

.get-in-touch-container:hover .contact-top-image {
  display: inline;
  position: absolute;
  left: 710px;
  cursor: pointer;
}

@media screen and (height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .contact-image-container {
    margin-left: 950px;
  }

  .get-in-touch-container {
    margin-left: 780px;
  }
}

@media screen and (width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  .contact-image-container {
    margin-left: 720px;
  }

  .get-in-touch-container {
    margin-left: 540px;
  }
}

@media screen and (max-width: 414px) {
  .client-list-container {
    padding-right: 0px;
    margin-left: -60px;
  }

  .contact-image-container {
    margin-left: 20px;
  }

  .contact-image {
    margin-top: 10px;
    margin-left: 160px;
    height: 90px;
  }

  .contact-container {
    margin-top: -190px;
    margin-left: 90px;
  }

  .get-in-touch-container {
    background-color: transparent;
    margin-left: 40px;
  }

  .get-in-touch-container img {
    width: 280px;
  }

  .get-in-touch-container:hover .contact-top-image {
    display: none;
  }
}
