.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-right: 45px;
}

.contact-image-container {
  margin-top: 10px;
  margin-right: 380px;
  margin-bottom: -30px;
}

.contact-image {
  position: relative;
  z-index: 99;
  height: 80px;
}

.get-in-touch-container {
  position: relative;
  display: inline-block;
  margin-right: 210px;
}

.get-in-touch-container img {
  background-color: transparent;
  width: 350px;
}

.get-in-touch-container .contact-top-image {
  display: none;
  position: absolute;
  z-index: 99;
}

.get-in-touch-container:hover .contact-top-image {
  display: inline;
  position: absolute;
  left: 0;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .contact-container {
    margin-right: 150px;
  }

  .contact-image-container {
    margin-right: 295px;
  }

  .contact-image-container {
    margin-top: 70px;
    margin-right: 135px;
    margin-left: 0;
  }

  .get-in-touch-container {
    margin-right: -10px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
    margin-right: 70px;
  }
}

@media screen and (max-width: 550px) {
  .client-list-container {
    padding-right: 0px;
    margin-left: -60px;
  }

  .contact-image {
    margin-top: -15px;
    margin-left: -55px;
    height: 120px;
    width: 20px;
  }

  .contact-container {
    margin-top: -230px;
    margin-left: 450px;
  }

  .get-in-touch-container {
    background-color: transparent;
    margin-right: 10px;
  }
}
