.expertise-section {
  padding-top: 10px;
}

.expertise-image {
  width: 200px;
}

.expertise-image-container {
  margin-top: 100px;
  margin-right: -30px;
}

.expertise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.expertise-description {
  margin-right: 70px;
}

.expertise-container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
}

@media screen and (max-width: 991px) {
  .testimonial-container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .quoted-text {
    font-size: 50px;
  }

  .quoteImg {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .quote-wrapper {
    padding-bottom: 65px;
  }

  .testimonial-container {
    max-width: 100%;
    flex-basis: auto;
  }
}
