.expertise-section {
  padding-top: 10px;
}

.expertise-image {
  margin-top: -80px;
  width: 140px;
}

.expertise-image-container {
  margin-top: 260px;
  margin-left: 330px;
  margin-right: -70px;
}

.expertise-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.expertise-description {
  margin-top: -110px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.expertise-desktop-break::after {
  content: '\a';
  white-space: pre;
}

.expertise-container h1 {
  font-family: 'degular', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.3;
}

@media screen and (max-width: 428px) {
  .expertise-container {
    flex-direction: column-reverse;
  }

  .expertise-image-container {
    margin-top: 80px;
    margin-left: 60px;
  }

  .expertise-image {
    margin-left: -80px;
    width: 100px;
  }

  .expertise-container h1 {
    font-size: 1.2rem;
    text-align: right;
  }

  .expertise-container {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 60px;
  }

  .expertise-description {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-right: -50px;
  }

  .expertise-desktop-break::after {
    content: none;
    white-space: none;
  }

  .expertise-mobile-break::after {
    content: '\a';
    white-space: pre;
  }
}

@media screen and (max-width: 414px) {
  .expertise-container {
    flex-direction: column-reverse;
  }

  .expertise-image-container {
    margin-top: 80px;
    margin-left: 60px;
  }

  .expertise-image {
    margin-left: -80px;
    width: 100px;
  }

  .expertise-container h1 {
    font-size: 1.2rem;
    text-align: right;
  }

  .expertise-container {
    display: flex;
    flex-direction: column-reverse;
    padding-right: 60px;
  }

  .expertise-description {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-right: -50px;
  }

  .expertise-desktop-break::after {
    content: none;
    white-space: none;
  }

  .expertise-mobile-break::after {
    content: '\a';
    white-space: pre;
  }
}
