.offers {
  background-color: rgb(233, 111, 37);
  padding: 120px 0;
  font-family: Garamond;
}

.offers-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.offers-row {
  display: flex;
  justify-content: center;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  align-content: stretch;
}

.offers col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
}

.offers__top-line {
  font-family: 'Monserrat', sans-serif;
  text-align: left;
}

.offers-heading {
  font-family: Garamond;
  font-size: 38px;
  line-height: 1.1;
  font-weight: 500;
  color: #000;
  text-align: left;
  white-space: pre;
}

.offers-wrapper p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: right;
  padding-top: 20px;
  padding-right: 200px;
}

@media screen and (max-width: 991px) {
  .offers-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .offers__top-line {
    padding-bottom: 10px;
  }

  .offers-heading {
    font-size: 20px;
  }

  .offers-wrapper p {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .offers-wrapper {
    padding-bottom: 65px;
  }

  .offers-container {
    max-width: 100%;
    flex-basis: auto;
  }
}
