.services-container {
  display: flex;
  justify-content: left;
}

.list-of-services {
  padding-left: 150px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
}

.list-of-services h1 {
  font-family: 'degular', sans-serif;
  font-weight: 100;
}

.list-of-services h4 {
  font-family: 'degular', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
}

#servicesHeader {
  font-weight: 500;
}

@media screen and (max-width: 1366px) {
  .list-of-services {
    padding-left: 220px;
  }
}

@media screen and (max-width: 768px) {
  .services-container {
    width: 270px;
    padding-left: 30px;
  }

  .list-of-services {
    padding-left: 0;
  }

  .list-of-services h1 {
    font-size: 1.5rem;
  }

  .list-of-services h4 {
    line-height: 1.2;
    font-size: 1rem;
  }
}
