.services-container {
  display: flex;
  justify-content: left;
}

.list-of-services {
  padding-left: 150px;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
}

.list-of-services h1 {
  font-family: 'degular', sans-serif;
  font-weight: 100;
}

.list-of-services h4 {
  font-family: 'degular', sans-serif;
  font-weight: 100;
}

#servicesHeader {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  .services-container {
    padding-left: 30px;
  }

  .list-of-services {
    padding-left: 0;
  }

  .list-of-services h1 {
    font-size: 1.5rem;
  }

  .list-of-services h4 {
    font-size: 0.9rem;
  }
}
