.testimonial-section {
  padding-top: 200px;
}

.testimonial-image {
  width: 300px;
  margin-right: -60px;
  margin-top: -10px;
}

.testimonial-container {
  padding-left: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.quote-container {
  margin-top: -20px;
}

.testimonial-container h1 {
  text-transform: uppercase;
  font-family: 'degular', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.testimonial-container p {
  margin-top: -10px;
  text-transform: uppercase;
  font-family: 'degular', sans-serif;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 991px) {
  .testimonial-container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .quoted-text {
    font-size: 50px;
  }

  .quoteImg {
    width: 40px;
  }
}

@media screen and (max-width: 768px) {
  .quote-wrapper {
    padding-bottom: 65px;
  }

  .testimonial-container {
    max-width: 100%;
    flex-basis: auto;
  }
}
