.zara-wrapper {
  background-color: rgb(158, 193, 213);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: rgb(158, 193, 213);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 83px;
  line-height: 100%;
}

.name:hover {
  color: rgb(233, 111, 37);
  transform: ease-in 0.6s;
}
