.zara-wrapper {
  background-color: transparent;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: transparent;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 83px;
  font-weight: 500;
  line-height: 100%;
}

.name:hover {
  color: #fff;
  transition: ease-in 0.5s;
  cursor: pointer;
}
