.form-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.logo-container {
  position: relative;
  display: inline-block;
  width: 800px;
  margin-top: -20px;
  padding-bottom: 50px;
}

.logo-container img {
  padding-left: 20px;
  width: 560px;
  background-color: transparent;
}

.logo-container #transition-zara-logo {
  width: 592px;
  display: none;
  position: absolute;
  z-index: 99;
}

.logo-container:hover #transition-zara-logo {
  display: inline;
  position: absolute;
  top: -21px;
  left: 101px;
  cursor: pointer;
}

.home-link {
  color: #000;
  text-decoration: none;
}

.home-link h1 {
  font-size: 3rem;
  padding-bottom: 100px;
}

.home-link:hover {
  color: #fff;
  transition: ease-in 0.5s;
  cursor: pointer;
}

.form-label {
  text-transform: uppercase;
  padding-right: 15px;
}

.form-input {
  margin-bottom: 10px;
  height: 30px;
  width: 400px;
  border: 1px solid #000;
}

.textbox-input {
  width: 400px;
}

#name-label {
  margin-left: 28px;
}

#email-label {
  margin-left: 28px;
}

#subject-label {
  margin-left: 5px;
}

#text-box {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-left: 350px;
}

.form-input-btn {
  border: none;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: -3px;
}

.form-input-btn:hover {
  text-decoration: underline;
  transition: ease-in 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
  .form-input {
    margin-bottom: 20px;
    height: 40px;
    width: 300px;
    border: 1px solid #000;
  }

  .logo-container {
    padding-bottom: 0;
  }

  .button-container {
    padding-left: 250px;
  }

  .textbox-input {
    width: 300px;
  }
}
